[submodule "Catch"]
	path = 3rd_party/Catch
	url = https://github.com/philsquared/Catch
[submodule "minizip"]
	path = 3rd_party/minizip
	url = https://github.com/nmoinvaz/minizip 
[submodule "zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib 
[submodule "SFML"]
	path = 3rd_party/SFML
	url = https://github.com/SFML/SFML
